<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../utils/constants.js"></script>
    <script src="/javascripts/dashboard.js" defer></script>
</head>

<body>
    <nav>
        <!-- EJS Logic with passed in recipes -->
        <!-- Updated by Axios when a new recipe is submitted -->
        <% recipes.forEach(recipe => { %>
            <a href="#" class="recipe"><%= recipe.name %></a>
        <% }) %>
    </nav>

    <div class="container create">
        <label for="recipeName">Recipe Name:</label>
        <input type="text" name="recipeName" id="recipeName" placeholder="Recipe Name">
        <div class="step" id="step1">
            <div>
                <textarea name="Instructions" id="recipeStep1" placeholder="Step 1"></textarea>
            </div>
            <div class="ingredients">
                <button type="button" id="addIngredientButton1">Add Ingredient</button>
                <div id="ingredientsContainer1"></div>
            </div>
        </div>
        <div id="buttonsContainer">
            <button type="button" id="addStepButton">Add Step</button>
            <button type="button" id="saveRecipeButton">Save Recipe</button>
        </div>
    </div>

    <!-- <div class="container view"> -->
        <!-- <h1>Recipe Details</h1> -->
        <!-- Add your specific recipe details here -->
    <!-- </div> -->
</body>

</html>